body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #fffdf9;
}

.box {
    width: 300px;
    border-radius: 10%;
    padding: 40px;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    background: #000000;
    top: 50%;
    left: 50%;
}

.box h1{
    text-transform: uppercase;
    color: white;
    font-weight: 200;
}

.box input[type = "text"], .box input[type = "password"]{
    text-decoration-color: thistle;
    border: 0;
    background: none;
    margin: 20px auto;
    display: block;
    text-align: center;
    border: 3px solid #19d3da;
    padding: 15px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.80s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus{
    width: 250px;
    border-color: #79d70f;
    transition: 0.45s;
}

.box button[type = "submit"]{
    text-decoration-color: thistle;
    border: 0;
    background: none;
    margin: 20px auto;
    display: block;
    text-align: center;
    border: 3px solid #79d70f;
    padding: 15px 50px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.80s;
    cursor: pointer;
}

.box button[type = "submit"]:hover{
    background: #79d70f;

}
